p{
  color: white;
  text-align: center;
  font-size:auto;
  text-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.aboutdiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}