.contactdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (maxwidth:740px) {
  .detailsdiv{
    width: auto;
  }

  .detaillogo{
    width: auto;
  }

  .detailsdiv{
    margin: auto;
    padding: 0px;
  }
}

.detail{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items:center;
}

.detailsdiv{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border: solid white;
  padding: 40px;
  border-radius: 20px;
  justify-content:center;
  margin-left: 20px;
}

.detaillogo{
  width:auto;
}

.detail a{
  font-size: medium;
  text-decoration: none;
  color: white;
}