
footer{
    display: flex;
    flex-direction: row;
    align-items:end;
    flex-wrap: wrap;
    column-gap: 2rem;
    bottom:8px;
    justify-content: space-between;
    margin-right: 12px;
    width:max-content;
}

.contactlogo{
    fill:white;
    width: 2rem;
    height: 2rem;
}
